/* 
#body {
    background: var(--yellow) !important;
} */

body,
input,
select,
textarea {
  color: var(--dark-grey);
  font-family: var(--ff-primary);
  background-color: white;
  /* font-size: 15pt; */
  font-weight: 400;
  /* letter-spacing: 0.025em; */
  /* line-height: 1.75em; */
}

.container {
  max-width: 1170px;
}

h1,
h2 {
  line-height: 130%;
  letter-spacing: 0px !important;
  color: var(--clr-primary-variant);
  margin: 0 0 1em 0;
  font-family: var(--ff-accent);
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-family: var(--ff-accent);
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--clr-primary-variant);
}

h4 {
  text-transform: none;
}

p {
  width: clamp(45ch, 50%, 75ch);
  font-size: 1rem;
  line-height: 170%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  border-bottom: none;
}


// BUTTONS

.button {
  width: auto;
  border-radius: 4px;
  /* margin: 60px 0 20px; */
  font-weight: 400;
  padding: 0.4em 1.95em;
  line-height: 2em;
  letter-spacing: 1px;
  min-width: fit-content;
  text-transform: none !important;
}

.button--primary {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  color: white;
}

.button--primary:hover {
  background: var(--clr-primary-variant-1);
  border-color: var(--clr-primary-variant-1);
}

.button--outlined {
  background: transparent;
  border-color: white;
  color: white;
}
.button--outlined--dark {
  background: transparent;
  border-color: var(--clr-primary);
  color: var(--clr-primary);
}
.button--secondary {
  background: white;
  border-color: white;
  color: var(--clr-primary-variant);
}

.button--secondary:hover {
  background: white;
  border-color: var(--clr-primary-variant-1);
}
.button--accent {
  background: transparent;
  border-color: var(--clr-accent);
  color: var(--clr-accent);
}

.button--accent:hover {
  background: white;
  border-color: var(--clr-primary-variant-1);
}

input,
select,
textarea {
  // color: #fff;
}


.container--about {
  margin-top: 0em;
}

.shaddow-light {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%) !important;
}
.shaddow-dark {
  box-shadow: 0 2px 8px 0 rgb(16 30 70 / 51%) !important;
}


.image:before {
  background: none !important;
}

.grey-background {
  background: #f2f2f2;
}

.icon-supply {
  background-image: url("../images/icons/supply_chain.png");
}
.icon-financial {
  background-image: url("../images/icons/financial.png");
}
.icon-partner {
  background-image: url("../images/icons/partner_network.png");
}
.icon-risk {
  background-image: url("../images/icons/risk.png");
}

.icon-placeholder {
  height: 130px;
  width: 130px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: contain;
}

.icon-border {
  overflow: hidden;
  display: inline;
  /* border: 7px solid var(--clr-primary); */
  border-radius: 50%;
  height: 113px;
  width: 113px;
  /* margin-bottom: 25px; */
}
.icon-border--values {
  overflow: hidden;
  display: inline;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 25px;
  border: 1px solid white;
}
.icon-border--values img {
  display: block;
  width: 120px;
  max-width: 120px;
  position: relative;
  left: -11px;
  top: -10px;
}

.icon.featured {
  opacity: 0.8;
}

.secondary {
  border-color: var(--blue);
  border-width: 4px;
  color: var(--blue);
}


.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-200) !important;
  background-color: var(--clr-primary-900) !important;
}
