@import "overrides/variables.scss";
@import "overrides/base.scss";
@import "overrides/navbar.scss";
@import "overrides/homepage.scss";
@import "overrides/about-us.scss";
@import "overrides/our-services.scss";
@import "overrides/innovation.scss";
@import "overrides/footer.scss";








.icon.circle.fa-linkedin-in {
  background: #2977c9;
  color: #fff;
}

.social-media__link {
  text-decoration: none;
  color: inherit;
  /* margin-left: 10px; */
  border-bottom: 0;
  font-size: 13px;
}
.social-media__icon {
  text-decoration: none;
  color: inherit;
  margin-left: 8px;
  border-bottom: 0;
}

.social-media__link i {
  padding-left: 10px;
  /* font-size: 24px; */
}
